/* Функции и полномочия */

.data p {
    text-indent: 15px;
}

.data h2 {
    text-align: center;
    color: #003399;
    margin-bottom: 20px;
}

.data ol {
    margin-top: 20px;
}

.data .h_list_data {
    margin-top: 50px;
}

.rect {
    counter-reset: li;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rect li {
    position: relative;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: white;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rect li:hover {
    background: whitesmoke;
}

.rect li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #336699;
    color: white;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rect li:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rect li:hover:after {
    left: -.5em;
    border-left-color: #336699;
}

.li-show {
    opacity: 0;
}

.li-show.el-show {
    opacity: 1;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}


/* Нормативные акты, функции */

#rect_normativ {
    width: 95%;
}

.point-normativ {
    margin: 20px;
    margin-top: 100px;
    border-top: 0;
    -webkit-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
}

.point-normativ h5 {
    padding: 20px;
    font-weight: bold;
    height: 40px auto;
    background-color: #003366;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    margin: 0;
}

.frame {
    margin-left: 20px;
    padding: 10px 0;

}

.frame a {
    color: #336699;
}

.frame img {
    width: 20px;
}


/* Структура БВУ */

.box-content {
    margin-top: 50px;
}

.box-content p {
    margin: 0;
    padding: 0;
}

.list-workers {
    margin-top: 50px;
    background: #fff;
    border: 1px solid whitesmoke;
    min-width: 800px;
    width: 86%;
    padding: 25px;
    -webkit-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
}

.indicator {
    display: none;
}

.post-for-indicator {
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 10px;
    min-width: 800px;
    left: 50px;
}

.data-worker {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.data-worker ul {
    list-style: none;
    margin-left: 10px;
}

.indicator:checked~.data-worker {
    max-height: 1300px;
}

.post-for-indicator:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -30px;
    border: 11px solid #39739d;
    border-bottom-color: transparent;
    /*Треугольничик - кнопка*/
    border-right-color: transparent;
    border-left-color: transparent;
}

.indicator:checked~.post-for-indicator:before {
    transform: rotate(180deg) translate(6px);
    top: 5px;
    left: -24px;
}

.lev-two {
    margin-left: 40px;
    margin-right: 40px;
}

.lev-two li {
    border-bottom: 1px solid brown;
    font-style: italic;
}

.sector-list {
    margin-left: 40px;
}

.head-uprav li {
    font-style: italic;
    border-bottom: 1px solid brown;
}


/* Подведомственные учреждения */

.board-box {
    margin: 30px;
    padding: 30px;
    margin-top: 50px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
}

.board-box p {
    margin-top: 30px;
}

.phone-uch {
    display: inline-block;
}

.board-box ul {
    list-style-type: none;
}

/* Информация об осуществлении закупок товаров, работ, услуг для государственных нужд */

.text-info-zakup{
    margin-top: 50px;
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
}
.text-info-zakup p{
    text-indent: 25px;
    margin: 0;
    padding: 7px;
}

/* План проверок */
.data-proverok{
    margin-top: 50px;
    margin-right: 40px;
}

/* Официальнные заявления и выступления */

.box-doc{
    width: 95%;
    padding: 20px 0;
    margin: 100px 0;
    color: #fff;
    background: linear-gradient(to bottom, #003366, #fff);
    -webkit-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
    box-shadow: 0px 2px 9px 4px rgba(34, 60, 80, 0.31);
}
.box-doc h5{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}