{% extends 'index_enbvu/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="data">
        <div>
            <h2>Cведения о полномочиях, зоне деятельности, задачах и функциях Енисейского БВУ</h2>
            <p> Енисейское бассейновое водное управление Федерального агентства водных ресурсов
                (далее - Управление) является территориальным органом Федерального агентства водных
                ресурсов межрегионального уровня.</p>
            <p> Управление осуществляет функций по оказанию государственных услуг и управлению федеральным
                имуществом в сфере водных ресурсов в границах Ангаро-Байкальского, Енисейского и других бассейновых
                округов на территории субъектов Российской Федерации: Республики Бурятия, Республики Тыва, Республики
                Хакасия, Красноярского края, и Иркутской области; водохранилищ, озера Байкал, Красноярского, Майнского,
                Саяно-Шушенского водохранилищ. В указанных субъектах Российской Федерации расположены отделы водных
                ресурсов, являющиеся структурными подразделениями Управления.</p>
        </div>
        <hr class="hr_head">
        <div>
            <h2 class="h_list_data">Основные функции Управления</h2>
           <ol class="rect" id="rect">
               {% for l_f_u in list_func_uprav %}
               <li class="li-show">{{ l_f_u|safe }}</li>
               {% endfor %}
           </ol>
        </div>
        <hr class="hr_head">
        <div>
            <h2 class="h_list_data">Управление в соответствии с возложенными функциями осуществляет следующие
                полномочия:</h2>
            <ol class="rect" id="rect">
                {% for p in polnomochiya %}
               <li class="li-show">{{ p|safe }}</li>
               {% endfor %}
            </ol>
        </div>
    </div>
</main>
<script src="{% static 'js/function_bvu.js' %}"></script>
{% endblock %}