{% extends 'index_enbvu/base.html' %}
{% load static %}

{% block content %}

<main>
    <h2>Перечень законов и иных нормативных правовых актов, определяющих полномочия, задачи и функции Енисейского БВУ</h2>
    <div id="rect_normativ">
        {% for n in normativ_akt_function_obj %}
            <div class="point-normativ">
                <h5>{{n.title|safe}}</h5>
                <iframe src="{{ n.file_pdf.url }}" width="100%" height="600px" scrolling="yes"></iframe>
                <div class="frame">
                    <img src="{% static 'index_enbvu/pdf_pick.png' %}" alt="">
                    <a href="{{ n.file_pdf.url }}">Сохранить в PDF</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
            <div style="margin-top: 50px; margin-right: 200px; margin-bottom: 100px;">
                <ul class="list-pages">
                {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-num">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% endif %}
                </ul>
            </div>
    {% endif %}
</main>

{% endblock %}