{% extends 'index_enbvu/base.html' %}
{% load static %}

{% block content %}
<main>
    <h2>Перечни информационных систем, банков данных, реестров, регистров, находящихся в ведении Енисейского БВУ</h2>
    <div class="text-info-zakup">
        <p>
            В ведении Енисейского БВУ отсутствуют государственные информационные системы, банки данных, регистры.</p>
        <p>Информационные системы, находящиеся в ведении Росводресурсов,</p>
        <a href="http://voda.mnr.gov.ru/activities/list.php?part=316" target="_blank" style="margin-left: 30px">
            http://voda.mnr.gov.ru/activities/list.php?part=316</a>
    </div>
</main>
{% endblock %}